<%- include('../partials/header') %>

<body class="body">
  <audio loop="" id="audioPlayer" style="display: none">
    <source src="/images/assets/preloader.mp3" type="audio/mp3" />
  </audio>
  <div id="preloader"></div>
  <noscript>Allow Javascript</noscript>

  <%- include('../partials/navbar') %>

 <main>
     <%- include('../partials/mobile-menu') %>
    <!-- mobile toggle menu ends -->

    <section class="landing-page-container" id="home">
      <div class="blob"></div>

      <div class="text-content">
        <article id="hello-friend" data-aos="fade-up" data-aos-delay="0">
          <p class="jello">H</p>
          <p class="jello">e</p>
          <p class="jello">l</p>
          <p class="jello">l</p>
          <p class="jello">o</p>
          <p class="jello">(</p>
          <p class="jello">)</p>
          <p class="jello">;</p>
          &nbsp;
          <p class="jello">I</p>
          <p class="jello">'</p>
          <p class="jello">m</p>
        </article>
        <article id="name" data-aos="fade-up" data-aos-delay="200">
          <p class="jello">A</p>
          <p class="jello">r</p>
          <p class="jello">i</p>
          <p class="jello">f</p>
          &nbsp;
          <p class="jello">A</p>
          <p class="jello">b</p>
          <p class="jello">d</p>
          <p class="jello">u</p>
          <p class="jello">l</p>
          <p class="jello">l</p>
          <p class="jello">a</p>
          <p class="jello">.</p>
        </article>

        <article id="work" data-aos="fade-up" data-aos-delay="400">
          <div>
            <p class="jello">I</p>
          </div>
          <div>
            <p class="jello">d</p>
            <p class="jello">e</p>
            <p class="jello">s</p>
            <p class="jello">i</p>
            <p class="jello">g</p>
            <p class="jello">n</p>
          </div>
          <div>
            <p class="jello">&</p>
          </div>
          <div>
            <p class="jello">c</p>
            <p class="jello">o</p>
            <p class="jello">d</p>
            <p class="jello">e</p>
          </div>
          <div>
            <p class="jello">f</p>
            <p class="jello">o</p>
            <p class="jello">r</p>
          </div>
          <div>
            <p class="jello">w</p>
            <p class="jello">e</p>
            <p class="jello">b</p>
            <p class="jello">.</p>
          </div>
        </article>
        <p id="info-para" data-aos="fade-up" data-aos-delay="600">
          Web Developer with experience of Digital Concept Arts, Frontend Web
          Designs. I Love fun Web UI, collaboration and making products.<br />
          <br />
          I value simple content structure, clean design patterns, and
          thoughtful interactions.
        </p>
        <div class="contact-btn-div" data-aos="fade-up" data-aos-delay="800">
          <a href="mailto:infovinodjangid@gmail.com" tabindex="-1">
            <button class="letsTalkBtn">
              <p class="letsTalkBtn-text">Let's Talk!</p>
              <span class="letsTalkBtn-BG"></span>
            </button></a>
          <div class="setting-container" id="setting-container">
            <input type="checkbox" id="switchforsetting" onclick="settingtoggle()" />

            <label for="switchforsetting" class="needtobeinvert" id="labelforsetting" tabindex="0"
              aria-label="settings for sound and appearance"></label>

            <div class="visualmodetogglebuttoncontainer" id="visualmodetogglebuttoncontainer">
              <input type="checkbox" id="switchforvisualmode" onclick="visualmode()" />
              <label for="switchforvisualmode" id="labelforvisualmode" tabindex="0"
                aria-label="switch appearance"></label>
            </div>

            <div class="soundtogglebuttoncontainer" id="soundtogglebuttoncontainer">
              <input type="checkbox" id="switchforsound" onclick="playpause()" />
              <label for="switchforsound" id="labelforsound" tabindex="0" aria-label="switch sound"
                class="needtobeinvert"></label>
            </div>
          </div>
          <!-- setting div ends -->
        </div>
        <!-- contact-btn-div -->
      </div>
     
    </section>
    <!-- landing page ends here -->
    <section class="about-section-container" id="about" data-aos="fade-up">
      <div class="about-section">
        <div class="section-heading">
          <h2 class="section-heading-article" tabindex="0" aria-label="About me heading">
            &#60;/AboutMe&#62;
          </h2>
          <p class="sectionHeadingP"></p>
        </div>

        <div class="info-dp-section">
          <div class="about-info">
            <p tabindex="0">
              Hi! My name is Vinod. I'm a web developer and digital visual artist. I love creating things that exist on the internet. My interest in web development started in 2021 when I decided to upload my digital concept arts online.
            </p>
            <br />
            <p tabindex="0">
              Instead of creating an online Concepts Art website, i started
              enjoying web development. Creating custom things for web taught
              me a lot about design & development!
            </p>
            <br />
            <p tabindex="0">
              My main focus these days is building interesting & creative web
              designs, I like to code things from scratch, and enjoy bringing
              ideas to life in the browser.
            </p>
             <!-- Resume button -->
      <button class="resume-btn" id="resume-btn" onclick="openURL()">
        <div class="sign">
          <svg viewBox="0 0 640 512">
            <path
              d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128H144zm79-167l80 80c9.4 9.4 24.6 9.4 33.9 0l80-80c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-39 39V184c0-13.3-10.7-24-24-24s-24 10.7-24 24V318.1l-39-39c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9z" />
          </svg>
        </div>

        <div class="text">Resume</div>
      </button>
          </div>

          <div class="dp" data-aos="fade-up">
            <img src="/images/webp/vinod (2).webp" alt="Vinod Jangid" tabindex="0" aria-label="image of vinod" />
          </div>
        </div>
      </div>
    </section>
    <!-- about section ends  -->

    <section class="skills-section-container" id="skills">
      <div class="skills-section">
        <div class="section-heading" data-aos="fade-up">
          <h2 class="section-heading-article" tabindex="0" aria-label="skills heading">
            &#60;/Skills&#62;
          </h2>
          <p class="sectionHeadingP"></p>
        </div>

        <div class="frontend-dev-section">
          <h3 class="frontend-dev-heading" data-aos="fade-up" tabindex="0"
            aria-label="As a frontend a developer these are the skills i have">
            Tech Stack
          </h3>
          <ul class="tech-stack-wrapper">
            <li class="tech-stack-box" data-aos="fade-up">
              <img src="/images/png/htmllogo.png" alt="Html skill" class="tech-stack-logo" />
              <span class="tooltip">HTML</span>
            </li>
            <li class="tech-stack-box" data-aos="fade-up">
              <img src="\images\png\ailogo.png" alt="Html skill" class="tech-stack-logo" />
              <span class="tooltip">HTML</span>
            </li>
            <li class="tech-stack-box" data-aos="fade-up">
              <img src="\images\png\ailogo.png" alt="Html skill" class="tech-stack-logo" />
              <span class="tooltip">HTML</span>
            </li>
            <li class="tech-stack-box" data-aos="fade-up">
              <img src="/images/png/csslogo.png" alt="css skill" class="tech-stack-logo" />
              <span class="tooltip">CSS</span>
            </li>

            <li class="tech-stack-box" data-aos="fade-up">
              <img src="/images/png/jslogo.png" alt="js skill" class="tech-stack-logo" />
              <span class="tooltip">JS</span>
            </li>

            <li class="tech-stack-box" data-aos="fade-up">
              <img src="/images/png/tailwind.png" alt="tailwind skill" class="tech-stack-logo" />
              <span class="tooltip">TAILWIND</span>
            </li>

            <li class="tech-stack-box" data-aos="fade-up">
              <img src="/images/png/reactlogo.png" alt="react skill" class="tech-stack-logo" />
              <span class="tooltip">REACTJS</span>
            </li>

            <li class="tech-stack-box" data-aos="fade-up">
              <img src="/images/png/nextlogo.png" alt="nextjs skill" class="tech-stack-logo" />
              <span class="tooltip">NEXTJS</span>
            </li>

            <li class="tech-stack-box" data-aos="fade-up">
              <img src="/images/png/node.png" alt="nodejs skill" class="tech-stack-logo" />
              <span class="tooltip">NODEJS</span>
            </li>

            <li class="tech-stack-box" data-aos="fade-up">
              <img src="/images/png/astro.png" alt="astro skill" class="tech-stack-logo" />
              <span class="tooltip">ASTRO</span>
            </li>

            <li class="tech-stack-box" data-aos="fade-up">
              <img src="/images/png/githublogo.png" alt="github skill" class="tech-stack-logo needtobeinvert" />
              <span class="tooltip">GITHUB</span>
            </li>

            <li class="tech-stack-box" data-aos="fade-up">
              <img src="/images/png/gitlogo.png" alt="git skill" class="tech-stack-logo" />
              <span class="tooltip">GIT</span>
            </li>

            <li class="tech-stack-box" data-aos="fade-up">
              <img src="/images/png/tinacms.png" alt="tinacms skill" class="tech-stack-logo" />
              <span class="tooltip">TINACMS</span>
            </li>

            <li class="tech-stack-box" data-aos="fade-up">
              <img src="/images/png/contentfulcms.png" alt="contentful skill" class="tech-stack-logo" />
              <span class="tooltip">CONTENTFUL</span>
            </li>


            <li class="tech-stack-box" data-aos="fade-up">
              <img src="/images/png/clogo.png" alt="c language skill" class="tech-stack-logo" />
              <span class="tooltip">C</span>
            </li>

            <li class="tech-stack-box" data-aos="fade-up">
              <img src="/images/png/cpplogo.png" alt="c++ language skill" class="tech-stack-logo" />
              <span class="tooltip">C++</span>
            </li>

            <li class="tech-stack-box" data-aos="fade-up">
              <img src="/images/png/pslogo.png" alt="photoshop skill" class="tech-stack-logo" />
              <span class="tooltip">ADOBE PS</span>
            </li>

            <li class="tech-stack-box" data-aos="fade-up">
              <img src="/images/png/figmalogo.png" alt="figma skill" class="tech-stack-logo" />
              <span class="tooltip">FIGMA</span>
            </li>

            <li class="tech-stack-box" data-aos="fade-up">
              <img src="/images/png/ailogo.png" alt="adobe illustrator skill" class="tech-stack-logo" />
              <span class="tooltip">ADOBE AI</span>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- skills section ends -->
    <section class="projects-section-container" id="projects">
      <div class="projects-section-div">
        <div class="section-heading" data-aos="fade-up">
          <h2 class="section-heading-article" tabindex="0" aria-label="My projects starts from here">
            &#60;/Projects&#62;
          </h2>
          <p class="sectionHeadingP"></p>
        </div>
        <div class="project-boxes-div">
          <div data-aos="fade-up" class="project-box-wrapper">
            <div class="project-box project-box2" id="project-box2">
              <div class="info-div">
                <img src="/images/webp/asher-favicon.webp" alt="atomic asher website favicon" class="faviconforProject" />
                <article class="ProjectHeading">Atomic Asher Official Website</article>
                <p class="ProjectDescription">
                  Atomic Asher: A sleek and modern company website built to reflect their mission, team, and work through a clean and professional digital presence.
                </p>
                <div class="project-buttons">
                  <a href="https://atomicasher.com" target="_blank" class="cta"
                    aria-label="Visit atomicasher Live">
                    <span>Live view</span>
                    <svg viewBox="0 0 13 10" height="10px" width="15px">
                      <path d="M1,5 L11,5"></path>
                      <polyline points="8 1 12 5 8 9"></polyline>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="image-div">
                <img src="/images/webp/asher-preview.webp" alt="atomicasher website preview image" />
              </div>
            </div>
          </div>
          <!-- ---------------------- -->
          <div data-aos="fade-up" class="project-box-wrapper">
            <div class="project-box project-box2" id="project-box2">
              <div class="info-div">
                <img src="/images/ico/stopscams-favicon.ico" alt="stopscams website favicon" class="faviconforProject" />
                <article class="ProjectHeading">StopScams.in</article>
                <p class="ProjectDescription">
                  StopScams: An AI-powered platform that detects scam messages and supports users through digital fraud with smart tools and real-time help.
                </p>
                <div class="project-buttons">
                  <a href="https://stopscams.in" target="_blank" class="cta"
                    aria-label="Visit stopscams Live">
                    <span>Live view</span>
                    <svg viewBox="0 0 13 10" height="10px" width="15px">
                      <path d="M1,5 L11,5"></path>
                      <polyline points="8 1 12 5 8 9"></polyline>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="image-div">
                <img src="/images/webp/stopscams-preview.webp" alt="stopscams website preview image" />
              </div>
            </div>
          </div>
          <!-- ---------------------- -->
          <div data-aos="fade-up" class="project-box-wrapper">
            <div class="project-box project-box2" id="project-box2">
              <div class="info-div">
                <img src="/images/ico/notesync-favicon.ico" alt="notesync website favicon" class="faviconforProject" />
                <article class="ProjectHeading">NoteSync</article>
                <p class="ProjectDescription">
                  Notesync: A note-taking app powered by Supabase, designed to sync and store your notes instantly with a smooth and minimal user interface.
                </p>
                <div class="project-buttons">
                  <a href="https://github.com/vinodjangid07/notesync-supabase" target="_blank" class="github-redirect"
                    aria-label="Visit Pexelicons on GitHub">
                    <img src="/images/svg/github.svg" alt="github redirect button" />
                  </a>
                  <a href="https://notesync-site.netlify.app/" target="_blank" class="cta"
                    aria-label="Visit NoteSync Live">
                    <span>Live view</span>
                    <svg viewBox="0 0 13 10" height="10px" width="15px">
                      <path d="M1,5 L11,5"></path>
                      <polyline points="8 1 12 5 8 9"></polyline>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="image-div">
                <img src="/images/webp/notesync-preview.webp" alt="NoteSync website preview image" />
              </div>
            </div>
          </div>
          <!-- ---------------------- -->
          <div data-aos="fade-up" class="project-box-wrapper">
            <div class="project-box project-box2" id="project-box2">
              <div class="info-div">
                <img src="/images/ico/wyd-favicon.ico" alt="withyourdog website favicon" class="faviconforProject" />
                <article class="ProjectHeading">With Your Dog</article>
                <p class="ProjectDescription">
                  WithYour.Dog: Discover dog-friendly places near you with our simple Airtable-powered app, integrated with Ola Maps for seamless navigation.
                </p>
                <div class="project-buttons">
                  <a href="https://withyour.dog" target="_blank" class="cta"
                    aria-label="Visit withyourdog Live">
                    <span>Live view</span>
                    <svg viewBox="0 0 13 10" height="10px" width="15px">
                      <path d="M1,5 L11,5"></path>
                      <polyline points="8 1 12 5 8 9"></polyline>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="image-div">
                <img src="/images/webp/wyd-preview.webp" alt="withyourdog website preview image" />
              </div>
            </div>
          </div>
          <!-- ---------------------- -->
          <div data-aos="fade-up" class="project-box-wrapper">
            <div class="project-box project-box2" id="project-box2">
              <div class="info-div">
                <img src="/images/webp/pexelicon-favicon.webp" alt="pexelicon website favicon" class="faviconforProject" />
                <article class="ProjectHeading">Pexelicons</article>
                <p class="ProjectDescription">
                  Pexelicons: A world of personalized file folder icons to
                  transform your PC into a reflection of your style.
                </p>
                <div class="project-buttons">
                  <a href="https://github.com/vinodjangid07/Pexelicons" target="_blank" class="github-redirect"
                    aria-label="Visit Pexelicons on GitHub">
                    <img src="/images/svg/github.svg" alt="github redirect button" />
                  </a>
                  <a href="https://vinodjangid07.github.io/Pexelicons/" target="_blank" class="cta"
                    aria-label="Visit Pexelicons Live">
                    <span>Live view</span>
                    <svg viewBox="0 0 13 10" height="10px" width="15px">
                      <path d="M1,5 L11,5"></path>
                      <polyline points="8 1 12 5 8 9"></polyline>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="image-div">
                <img src="/images/webp/Group 76.webp" alt="Pexelicon website preview image" />
              </div>
            </div>
          </div>
          <!-- --------------------- -->
          <div data-aos="fade-up" class="project-box-wrapper">
            <div class="project-box project-box2" id="project-box2">
              <div class="info-div">
                <img src="/images/webp/lunetra-favicon.webp" alt="lunetra website favicon" class="faviconforProject" />
                <article class="ProjectHeading">Lunetra Studio</article>
                <p class="ProjectDescription">
                  Lunetra Studio: A fashion-forward site showcasing elegant collections with modern design, built to highlight quality, story, and craftsmanship.
                </p>
                <div class="project-buttons">
                  <a href="https://lunetra-studio.netlify.app/" target="_blank" class="cta"
                    aria-label="Visit lunetra Live">
                    <span>Live view</span>
                    <svg viewBox="0 0 13 10" height="10px" width="15px">
                      <path d="M1,5 L11,5"></path>
                      <polyline points="8 1 12 5 8 9"></polyline>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="image-div">
                <img src="/images/webp/lunetra-preview.webp" alt="Lunetra website preview image" />
              </div>
            </div>
          </div>
          <!-- --------------------- -->

        </div>
      </div>
    </section>
  </main>
  <!-- main ends here -->


  <%- include('../partials/footer') %>

  <%- include('../partials/scripts') %>
</body>
</html>
